  <div class="center hero-unit">
  <h1>Welcome to the New App</h1>

  <h2>
    This is the home page of 
    <a href="https://aqueous-shore-1529.herokuapp.com/">Ruby on Rails demo</a> application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>